.jumbotron{
   /* background-color: rgb(4, 191, 216);*/
   background-image: url('../img/baner.png'); 
    color: white;
    margin-top: 56px;
}
footer{
padding: 10px 10px 0 10px;
background-color: rgb(4, 191, 216);
margin-bottom: 0px;
margin-top: 10px;
color: white;
}
footer a{
    color: white;
}
span{
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: rgb(4, 216, 152);
}
.card-hotel{
    flex:1 180px;
    padding: 2px 0px 0px 0px;
    
}
.btn-res{
    width: 100%;
    border-radius: 0px;
}
.s-dark{
color:#FDC830;  
}
textarea{
    resize: none;
}
