@yellow:#FDC830;
@l-blue:rgb(4, 191, 216);
@l-green:rgb(4, 216, 152);

.margin(@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron{
    /* background-color: rgb(4, 191, 216);*/
    background-image: url('../img/baner.png'); 
     color: white;
     .margin(56px, 0px);
 }
 footer{
 padding: 10px 10px 0 10px;
 background-color: @l-blue;

 .margin(10px, 0px);
 color: white;
 }
 footer a{
     color: white;
 }
 span{
     color: white;
 }
 footer a:hover{
     text-decoration: none;
     color: @l-green;
 }
 .card-hotel{
     flex:1 180px;
     padding: 2px 0px 0px 0px;
     
 }
 .btn-res{
     width: 100%;
     border-radius: 0px;
 }
 .s-dark{
 color:@yellow;  
 }
 textarea{
     resize: none;
 }
 