.jumbotron {
  /* background-color: rgb(4, 191, 216);*/
  background-image: url("../img/baner.png");
  color: white;
  margin-top: 56px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #04bfd8;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

footer a {
  color: white; }

span {
  color: white; }

footer a:hover {
  text-decoration: none;
  color: #04d898; }

.card-hotel {
  flex: 1 180px;
  padding: 2px 0px 0px 0px; }

.btn-res {
  width: 100%;
  border-radius: 0px; }

.s-dark {
  color: #FDC830; }

textarea {
  resize: none; }
